@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
  @apply w-[80%] flex mx-auto
}
.dflex{
  @apply flex gap-2 items-center
}
li{
  cursor: pointer;
}
.hover{
  cursor: pointer;
  transition: 0.5s ease-in-out;
 color: rgb(134, 132, 132);
}
.hover:hover{
  background-color: rgb(148, 146, 146);
  color: #fff;
  scale: 1.15;
  border-radius: 15px;
  padding:2px 10px ;
}
.ul__style{
  @apply absolute top-full left-0 bg-white shadow-md py-3 px-4 w-[130px] text-center flex flex-col gap-1 z-10
}